@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  background-color: #1F1D2B;
  font-family: 'Poppins', sans-serif;
  color: #FFF;
}

.page {
  margin-inline: auto;
  display: flex;
}

.sidebar__logo {
  margin-bottom: 50px;
  padding-top: 38px;
}

.sidebar {
  height: 100vh;
  width: 150px;
  margin-left: 2em;
}

.sidebarSection__element {
  display: flex;
  align-items: center;
  margin-top: 2em;
}

.sliderBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider__text {
  color: #808191;
}

.icon_active {
  background-color: #FF7551;
}

.icon_inactive {
  background-color: #353440;
}

.element__name {
  padding-left: 1em;
}

.sidebarSection__header {
  color: #808191;
  margin: 0;
}

.list {
  list-style: none;
}

.name_inactive {
  color: #808191;
}

.header__search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 625px;
  height: 40px;
  background-color: #353440;
  border-radius: 40px;

}

.header__searchIcon {
  padding-right: 15px;
}

.header__searchText {
  color: #808191;
  padding-left: 15px;
}

.sidebarSection__line {
  border: 1px solid #34373C;
  margin-top: 3em;
  margin-bottom: 3em;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #6c5ecf;
}

input:focus + .slider {
  box-shadow: 0 0 1px #6c5ecf;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
